body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo {
    text-align: center;
    
}

.ejercicio {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}